body{
    position:relative;
    padding:0px;
    margin:0px;
}
.pokras-1{
    background: linear-gradient(to bottom right, #000099 5%, #66ff66 95%);
    margin:0px;
}
.clas {
    margin-top: 15px ;
    margin-left:30px;
    color:white;
    position: absolute;
}
.rozdilu{
    display:flex;
    justify-content:flex-end;
    position: absolute;
    top:0px;
    right:0px;
    color:white;
    font-size:20px;
}
.rozdilu p{
    margin-top:15px;
    margin-right:30px;
    color:white;
    font-size:20px;
}
h1{
    margin:0px;
    padding:0px;
}
.glavnoe{
     position: absolute;
     top:400px;
     right:50px;
     color:white;
}
.imya{
     font-size:40px;
     margin-right:100px;
}
.professional{
    color:#FFD700;
    margin-right:100px;
    font-size:21px;
}
.izobr{
    margin-top:50px;
    margin-bottom:50px;
    margin-left:70px;
}
.pokras-2{
    background: linear-gradient(to top right, #000099 5%, #66ff66 95%);
}
.pro-mene{
    color:white;
    margin:50px 100px 40px 100px;
    font-size:30px;
}
.pokras-2 p{
    color:white;
    margin:50px 100px 50px 100px;
}
.port{
     margin-left:100px;
     border:1px solid white;
     border-radius:10px;
     color:white;
     text-decoration:none;
}
.port:hover{
     color:#C0C0C0;
}
