body{
    position:relative;
}
.rozdilu{
    display:flex;
    justify-content:flex-end;
    position: absolute;
    top:0px;
    right:0px;
}
.rozdilu p{
    matgin-top:15px;
    margin-right:20px;
}
